@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../libs/frontend/portals/Alerts/Default/styles';
@import '../../libs/frontend/portals/PopUps/PopSave/styles';
@import '../../libs/frontend/hooks/useModal/styles';
@import '../../libs/frontend/components/Thumbs/styles';
@import '../../libs/frontend/components/Loadings/LoadingHOC/styles/index';

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
  transition: all 250ms ease;
}
a:active {
  transition: transform 50ms ease;
  transform: scale(0.95);
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}
input,
select,
textarea {
  color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: #fff;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(23 23 23) inset;
  transition: background-color 5000s ease-in-out 0s;
}

//
.anim-button {
  transition: all 200ms ease;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    transition: transform 50ms ease;
    transform: scale(0.95);
  }
}