.take-off{
  display: none;
}
.take-on{
  display: block;
}

.fade-in {
  opacity: 1;
  // transition: all 1s ease;
  animation: FadeIn 600ms ease-in-out;

  @keyframes FadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1 !important;
    }
  }
}

.fade-out {
  opacity: 0;
  animation: FadeOut 600ms forwards;

  @keyframes FadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1 !important;
    }
  }
}