/*
*/
.BarIcons {
    transition: all 0.3s ease;
    position: absolute;
    padding: 12px;
    margin-top: -12px;
    bottom: -70px;
}
@media (min-width: 1024px) {
    .BarIcons {
        visibility: hidden;
        opacity: 0;
        animation: BarIconsHoverAnim 300ms forwards;
    }
}
.BarIcons:hover {
    transform: scale(0.9);
}
.BarIcons:active {
    transform: scale(1);
}

@media (min-width: 1024px) {
    .Box:hover .BarIcons {
        animation: BarIconsShowsAnim 600ms forwards;
    }
}

@keyframes BarIconsShowsAnim {
    from {
        visibility: hidden;
        opacity: 0;
        bottom: -60px;
    }
    to {
        visibility: visible;
        opacity: 1;
        bottom: -70px;
    }
}

.CloseIcon,
.ArrowLeftUp,
.ArrowRightDown {
    padding: 24px;
}
.ArrowLeftUp {
    position: relative;
    top: -1px;
    margin-left: -24px;
    margin-top: -24px;
}
.ArrowRightDown {
    position: relative;
    top: -1px;
    margin-right: -24px;
    margin-top: -24px;
}
.CloseIcon {
    margin-top: -24px;
}

/* Rotate */
.ArrowLeftUp {
    transform: rotate(270deg);
}
@media (min-width: 640px) {
    .ArrowLeftUp {
        transform: rotate(180deg);
    }
}
.ArrowRightDown {
    transform: rotate(90deg);
}
@media (min-width: 640px) {
    .ArrowRightDown {
        transform: rotate(0deg);
    }
}

/* Test
------

.DragP {
    top: 0px;
    opacity: 0;
}
.Box:hover .DragP {
    animation: DragPAnim 350ms forwards;
}
@keyframes DragPAnim {
    from {
        top: -18px;
        opacity: 0;
    }
    to {
        top: -28px;
        opacity: 1;
    }
}
*/
