.heroWrapper {
    background-color: red;
    height: 100vh;
    background: url('../public/bannersExample/banner-5.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  @media (min-width: 1024px){
    .heroWrapper{
        height: 100vh;
    }
  }

  .overlayAll{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(23,23,23,1));
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .overlayBottom {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(23,23,23,1));
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .overlayTop {
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(23,23,23,1));
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .container{
    position: relative;
    left: 0;
    top:0;
  }

  .aside{
    position: absolute;
    z-index: 10;
    bottom: 65px;
    text-align: left;
  }

  .main{
    position: absolute;
    z-index: 10;
    bottom: 32px;
    width: 90%;
    max-width: 420px;
  }
  @media(min-width: 768px){
    .main{
        width: 100%;
        max-width: 520px;
      }
  }
  @media(min-width: 1280px){
    .main{
        width: 100%;
        max-width: 620px;
      }
  }

  .main h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 120%;
  }
  @media(min-width: 768px){
    .main h1{
        font-size: 72px;
        margin-bottom: 18px;
      }
  }
  @media(min-width: 1280px){
    .main h1{
        margin-bottom: 15px;
      }
  }