@import '../../structure/ui/styles.scss';

@layer base {
  :root {
    --text-base-primary: #fff;
    --text-base-secondary: rgb(237, 237, 237);
    --text-color-primary: #ea580c;
    --text-color-secondary: #4f46e5;

    --bg-base-primary: #171717:
    --bg-base-secondary: #111111;
    --bg-color-primary: #4f46e5;
    --bg-color-secondary: #ea580c;

    --danger: #dc2626;
    --success: #16a34a;
    --caution: #ca8a04;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  overflow-x: hidden !important;
  color: #fff;
  background: #171717;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: #4f46e5;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #dc2626;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: #dc2626;
  font-size: 15px;
}
::placeholder {
  color: #dc2626;
  font-size: 15px;
}