@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden !important;
}

/* Link */
a {
    text-decoration: none;
    transition: all 250ms ease;
}
a:active {
    transition: transform 50ms ease;
    transform: scale(0.95);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: #39577f;
}

/* Placeholder */
::-webkit-input-placeholder {
    /* Edge */
    color: red;
    font-size: 15px;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
    font-size: 15px;
}
::placeholder {
    color: red;
    font-size: 15px;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}
input,
select,
textarea {
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: #fff;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(23 23 23Z) inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Buttons */
.simple-button {
    transition: all 200ms ease;
    cursor: pointer;
}
.simple-button:hover {
    opacity: 0.7;
}
.simple-button:active {
    transition: transform 50ms ease;
    transform: scale(0.95);
}

@layer components {
    .btn-transparent {
        @apply uppercase text-center border-2 rounded-md simple-button inline-block;
    }

    .btn-solid {
        @apply uppercase text-center text-white lg:text-sm rounded-md hover:opacity-50 simple-button inline-block tracking-wide;
    }
}

/* Skeleton */
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 20%);
    }
    100% {
        background-color: hsl(200, 20%, 30%);
    }
}

/* keyframes */
/* Alert */
.alert-anim {
    animation: comeFromTopAlert 300ms ease-in-out;
}
@keyframes comeFromTopAlert {
    from {
        left: 48%;
        opacity: 0;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

/* Modal */
.modal-anim {
    animation: fadeModal 300ms ease-in-out;
}
@keyframes fadeModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.form-add-anim {
    opacity: 0;
    animation: comeFromTopFormAdd 300ms forwards 300ms;
}
@keyframes comeFromTopFormAdd {
    from {
        left: 48%;
        opacity: 0;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}
