@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
}

/* Link */
a{
    text-decoration: none;
    transition: all 250ms ease;
}
a:active{
    transition: transform 50ms ease;
    transform: scale(0.95);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: #39577F;
}

/* Placeholder */
::-webkit-input-placeholder { /* Edge */
    color: red;
    font-size: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
    font-size: 15px;
}
::placeholder {
    color: red;
    font-size: 15px;
}

/* Buttons */
.simple-button{
    transition: all 200ms ease;
    cursor: pointer;
}
.simple-button:hover{
    opacity: 0.7;
}
.simple-button:active{
    transition: transform 50ms ease;
    transform: scale(0.95);
}

@layer components{
    .btn-transparent{
        @apply uppercase text-center border-2 rounded-md simple-button inline-block;
    }

    .btn-solid {
        @apply uppercase text-center text-white lg:text-sm rounded-md hover:opacity-50 simple-button inline-block tracking-wide
    }
}