/*
*/
.TrashIcon {
    transition: all 0.3s ease;
    position: absolute;
    padding: 12px;
    margin-top: -12px;
    bottom: -55px;
}
@media (min-width: 1024px) {
    .TrashIcon {
        visibility: hidden;
        opacity: 0;
        animation: trashIconHoverAnim 300ms forwards;
    }
}
.TrashIcon:hover {
    transform: scale(0.9);
}
.TrashIcon:active {
    transform: scale(1);
}

.Box:hover .TrashIcon {
    animation: trashIconShowsAnim 600ms forwards;
}

@keyframes trashIconShowsAnim {
    from {
        visibility: hidden;
        opacity: 0;
        bottom: -45px;
    }
    to {
        visibility: visible;
        opacity: 1;
        bottom: -55px;
    }
}

/* Test
------

.DragP {
    top: 0px;
    opacity: 0;
}
.Box:hover .DragP {
    animation: DragPAnim 350ms forwards;
}
@keyframes DragPAnim {
    from {
        top: -18px;
        opacity: 0;
    }
    to {
        top: -28px;
        opacity: 1;
    }
}
*/
